<h4>{{createDeviceCtrl.header}}</h4>

<form class="create-form" role="form" ng-submit="createDeviceCtrl.createDevice(newDevice)" novalidate>
    <div ng-show="createDeviceCtrl.error" class="alert alert-danger" role="alert">{{createDeviceCtrl.error}}</div>
    <div class="form-group">
        <label for="newDeviceName">Название объекта:</label>
        <input type="text" class="form-control" id="newDeviceName" ng-model="createDeviceCtrl.newDevice.name" placeholder="Введите название">
    </div>
    <div class="form-group">
        <label for="newDeviceIp">IP адрес:</label>
        <input type="text" class="form-control" id="newDeviceIp" ng-model="createDeviceCtrl.newDevice.ip_address" placeholder="Введите IP в формате xxx.xxx.xxx.xxx">
    </div>
    <div class="form-group">
        <label for="newDeviceDescription">Описание:</label>
        <input type="text" class="form-control" id="newDeviceDescription" ng-model="createDeviceCtrl.newDevice.description" placeholder="Введите описание">
    </div>

    <button type="submit" class="btn btn-info btn-lg">Создать</button>
    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="createDeviceCtrl.cancelCreating()">Назад</button>
</form>
