<h4>{{editDeviceCtrl.header}}</h4>

<form class="edit-form" role="form" ng-submit="editDeviceCtrl.updateDevice()" novalidate>
    <div ng-show="editDeviceCtrl.error" class="alert alert-danger" role="alert">{{editDeviceCtrl.error}}</div>
    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="editDeviceCtrl.deleteDevice()" class="close"><span class="glyphicon glyphicon-trash"></span></button>
    <div class="form-group">
        <label for="editDeviceName">Название объекта:</label>
        <input type="text" class="form-control" id="editDeviceName" ng-model="editDeviceCtrl.editedDevice.name" placeholder="Введите название">
    </div>
    <div class="form-group">
        <label for="editDeviceIp">IP адрес:</label>
        <input type="text" class="form-control" id="editDeviceIp" ng-model="editDeviceCtrl.editedDevice.ip_address" placeholder="Введите IP в формате xxx.xxx.xxx.xxx">
    </div>
    <div class="form-group">
        <label for="editDeviceDescription">Описание:</label>
        <input type="text" class="form-control" id="editDeviceDescription" ng-model="editDeviceCtrl.editedDevice.description" placeholder="Введите описание">
    </div>

    <button type="submit" class="btn btn-info btn-lg">Сохранить</button>
    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="editDeviceCtrl.cancelEditing()">Назад</button>

</form>
