<div class="container">
	<!--<link type="text/css" rel="stylesheet" href="css/style.css"/>-->
	<!--<script defer="defer" src="Helpers/d3.js" type="text/javascript"></script>-->
	<!--<script defer="defer" src="-graphic.js" type="text/javascript"></script>-->
	<graphic  data="data" hovered="hovered(args)"></graphic>
	<!--<br/>-->
	<!--Graphic.d3.Line tag<br/>-->
	<!--<Reports.Graphic.d3.Line data="data" hovered="hovered(args)"></Reports.Graphic.d3.Line>-->
	<!--<br/>-->
	<!--graphic tag with Graphic.d3.Line attribute<br/>-->
	<!--<graphic data="data" hovered="hovered(args)" GraphicD3Line></graphic>-->
</div>
