<div class="container col-md-2 col-md-offset-5">

      <form class="form-signin">
        <h2 class="form-signin-heading">Вход в систему</h2>
        <div ng-show="login.error" class="alert alert-danger" role="alert">{{login.error}}</div>
        <label for="username" class="sr-only">Имя пользователя</label>
        <input type="text" ng-model="login.user.username" id="username" class="form-control" placeholder="Имя пользователя" required autofocus>

        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="password" class="form-control" ng-model="login.user.password" placeholder="Пароль" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit-click" ng-click="login.onLogin()">Войти</button>
      </form>

</div>
