<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">КМУТ</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="kmut.network_devices">Сетевые устройства</a></li>
        <!-- <li><a ui-sref="kmut.graphic">Графики</a></li>-->
        <!-- <li><a ui-sref="kmut.settings">Настройки</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="main.onLogout()">Выйти</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div ui-view></div>

