<div class="container">
  <h3>{{listOfDevicesCtrl.header}}</h3>
      <div ui-view>
          <button type="button" class="btn btn-link" ui-sref="kmut.network_devices.create"><span class="glyphicon glyphicon-plus"></span>Добавить устройство</button>
      </div>
      <ul class="list-group">
          <li class="list-group-item" ng-repeat="device in listOfDevicesCtrl.devices">
            {{device.id}}<br/>
            {{ device.name }} ip: {{ device.ip_address }} <br>
            <i> {{ device.description }} </i>
						<button class="close"
							ui-sref="kmut.graphic({ deviceId:device.id })">
							<span class="glyphicon glyphicon-search"></span>
						</button>
						<button class="close"
							ui-sref="kmut.network_devices.edit({ deviceId:device.id })">
							<span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" ui-sref="kmut.network_devices.start_task({ deviceId:device.id })" class="close"><span class="glyphicon glyphicon-th-list"></span></button>
          </li>
      </ul>
</div>

