<div class="signup center-block jumbotron">
  <form role="form">
  <h1>Signup</h1>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" ng-model="signup.user.username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="signup.user.password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default" ng-click="signup.createUser()">Submit</button>
</form>
<a ui-sref="login">Click here to Login</a>
</div>
