<h4>{{startTaskCtrl.header}}</h4>

<form class="edit-form" role="form" ng-submit="startTaskCtrl.createTask()" novalidate>
    <div class="form-group">
        <label for="taskDescription">Описание задачи:</label> <input type="text" class="form-control" id="description" ng-model="startTaskCtrl.newTask.description" placeholder="Введите описание">
    </div>
    <div class="form-group">
        <label for="taskRepeat">Кол-во повторов:</label>
        <input type="text" class="form-control" ng-model="startTaskCtrl.newTask.repeats" placeholder="Введите кол-во повторов">
    </div>
    <div class="form-group">
        <label for="taskDelay">Задержка между повторами в секундах:</label>
        <input type="text" class="form-control" ng-model="startTaskCtrl.newTask.delay" placeholder="Введите задержку (в секундах)">
    </div>

    <button type="submit" class="btn btn-info btn-lg">Запустить</button>
    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="startTaskCtrl.cancelCreating()">Назад</button>

</form>
