rect {
	fill: none;
	pointer-events: all;
}

line {
	stroke: #000;
	stroke-width: 1px;
}

.string, .regexp {
	color: #f39;
}

.keyword {
	color: #00c;
}

.comment {
	color: #777;
	font-style: oblique;
}

.number {
	color: #369;
}

.class, .special {
	color: #1181B8;
}

.hint {
	position: absolute;
	right: 0;
	width: 1024px;
	font-size: 12px;
	color: #999;
}


svg {
	font-size: 10px;
	border: 1px solid red;
}

.axis {
	shape-rendering: crispEdges;
}

.axis path, .axis line {
	fill: none;
	stroke-width: .5px;
}

.x.axis path {
	stroke: #000;
}

.x.axis line {
	stroke: #fff;
	stroke-opacity: .5;
}

.y.axis line {
	stroke: gray;
}

path.line {
	fill: none;
	stroke-width: .5px;
}

rect.pane {
	cursor: move;
	fill: none;
	pointer-events: all;
}

/*# sourceMappingURL=kmut.css.map*/